<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Club Verse</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: url(/images/sign4.jpg) no-repeat center center/cover;
      position: relative;
    }

    body::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      filter: blur(10px);
      z-index: -1;
    }

    .container {
      position: relative;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 30px;
      margin-top: 5%;
      border-radius: 10px;
      height: 65%;
    }

    .plans {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }

    .sign-content {
      left: 45vw;
    }

    .sign-content h2 {
      color: #405e66;
      font-size: 45px;
      text-align: center;
    }

    .sign-content form {
      padding: 30px;
    }

    input[type="text"],
    input[type="password"] {
      width: 35vw;
      padding: 18px 23px;
      margin: 20px 0;
      display: inline-block;
      box-sizing: border-box;
      font-size: 17px;
    }

    input[type="text"]:focus {
      background-color: lightgray;
    }

    input[type="password"]:focus {
      background-color: lightgray;
    }

    label {
      color: #131e21;
      font-size: 25px;
    }

    button {
      background-color: #24383c;
      color: white;
      padding: 14px 20px;
      margin: 20px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 4px;
      opacity: 0.95;
    }

    button:hover {
      background-color: #242c2c;
    }

    .sign-content h3 a {
      color: mediumblue;
      text-decoration: none;
    }

    .sign-content form label {
      margin-right: 75%;
    }

    .sign-content form h3 {
      margin-right: 68%;
    }
    .menu{
      margin-top: -2%;
      margin-left: 50px;
    }
    #pass{
      margin-left: 6.5%;
    }
  </style>
</head>
<body>  <div class="nav">
    <div class="logo">
      <img src="/images/club-logo-2.png" alt="Logo">
    </div>
    <div class="menu" id="menu-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Bars</a></li>
        <li><a href="/register">Register</a></li>
        
      </ul>
    </div>
  </div>
    <div class="container">
      <h1>LOGIN</h1>
      <% if (typeof error !== 'undefined') { %>
        <div class="error-message" style="color: red; margin-bottom: 15px;">
          <%= error %>
        </div>
      <% } %>
      <% if (typeof lockoutMessage !== 'undefined') { %>
        <div class="lockout-message" style="color: orange; margin-bottom: 15px; font-weight: bold;">
          <%= lockoutMessage %>
        </div>
      <% } %>
      <% if (typeof success !== 'undefined') { %>
        <div class="success-message" style="color: green; margin-bottom: 15px;">
          <%= success %>
        </div>
      <% } %>
      <div class="plans">
        <div class="sign-content">
          <form action="/api/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <label for="email"><b>Email:</b></label><br>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          /><br>

          <label for="password" id="pass"><b>Password:</b></label><br>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <button type="submit"><b>Login</b></button>
          <p style="margin-top: 15px;">Don't have an account? <a href="/register" style="color: blue;">Register here</a></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>